


html {
  scroll-behavior: smooth;
}

.column {
  float: left;
  width: 33.33%;
}

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: transparent;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 30px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5), 0 0px 0px 0 rgba(0, 0, 0, 0.5);
  border-radius: 10px;
 -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-position: center top;
}
.form input {
  outline: 0;
  background:  rgba(0, 0, 0, 0.25);
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  text-transform: uppercase;
  outline: 0;
  background: black;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: gray;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

body {
	margin: 0 auto !important; 
	float: none !important;
}

p {
	text-align: justify;
	/*
  	margin-left: 20px;
  	margin-right: 20px;
  	*/
  	margin-top: 5px;
  	font-family: Avenir, Helvetica, sans-serif;
}

h4 {
	font-weight: bold;
	font-size: 15px;
	margin:0;
	font-family: Avenir, Helvetica, sans-serif;
}

h3 {
	font-weight: bold;
	font-size: 12px;
	letter-spacing: 1px;
	margin:0;
	font-family: Avenir, Helvetica, sans-serif;
	/*
	margin-left: 20px;
  	margin-right: 20px;
  	*/
}

h1, h2, h5, h6 {
	font-family: Avenir, Helvetica, sans-serif;
	transition: .5s;
	transition-timing-function: ease-in-out;
}

h1 {
    font-family: theartisan;
	font-weight: normal;
    height: 70px;
}

.nav ul {
  text-align: center;
  padding: 0;
  margin: 0;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

.nav {
  z-index: 5;
}

.nav li {
  border-bottom: 1px solid #888;
}

.nav a {
  color: black;
  display: block;
}

.nav a:hover {
  color: gray;
}

@media screen and (min-width: 600px) {
  .nav li {
    padding: 20px;
    border-bottom: none;
    text-align: center;
  }

  /* Option 1 - Display Inline */
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }

  /* Options 2 - Float
  .nav li {
    float: left;
  }
  .nav ul {
    overflow: auto;
    width: 600px;
    margin: 0 auto;
  }
  .nav {
    background-color: #444;
  }
  */
}

.white {
    background-color: transparent;
    color: black;
    left: 0;
    width: 100%;
    border-radius: 1px;
    width:100%;
    border-bottom: 1px solid rgba(230, 230, 230, 0.0);
}

.blur {
/*
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    background: linear-gradient(rgba(240, 240, 240, 0.5), rgba(240, 240, 240, 0.5), url('http://placehold.it/350x150'));
    background-position: center top;
    */
    -webkit-backdrop-filter: saturate(1.8) blur(20px);
    -webkit-font-smoothing: antialiased;
    background-color: rgba(255, 255, 255, 0.72);
    box-sizing: content-box;
    color: rgb(29, 29, 31);
    direction: ltr;
    display: block;
    border-bottom: 1px solid rgba(230, 230, 230, 0.5);
}

.content {
  padding-top: 0px;
}

.black {
    background-color: black;
    color: white;
    left: 0;
    width: 100%;
    border-radius: 1px;
    width:100%;
}

.gray {
    background-color: #f7f7f7;
    color: black;
    left: 0;
    width: 100%;
    border-radius: 1px;
    width:100%;
}

.text {
    max-width: 850px;
    margin: 50px auto !important;
    float: none !important;
}

h1:hover {
	font-family: Avenir;
}

h5 {
	font-weight: normal;
}


img, div {
 z-index: 1;
/*
	transition: .5s;
	transition-timing-function: ease-in-out;
	*/
}

img.jc:hover {
	height: 210px;
	filter: brightness(1.2);
	box-shadow: 0px 0px 100px black;
}

img.tutorial:hover {
	width: 510px;
}

a {
	text-decoration: none;
    transition: .3s;
    opacity: 0.65;
    text-align: justify;
  	font-family: Avenir, Helvetica, sans-serif;
}

a.black {
    color: white;
}

a.black:hover {
	opacity: 0.75;
	text-shadow: 0px 0px 5px white;
}

a.white:hover {
	opacity: 0.5;
}

/* link non visitati */ 
a:link {
    color: black;
    opacity: 0.75;
} 

/* link visitati */ 
a:visited {
    color: black;
    opacity: 0.75;
} 

/* link su cui si posa il cursore del mouse */ 
a:hover { 
	/*font-style: italic;*/
	opacity: 0.25;
}

/* link nel momento del click con il mouse */ 
a:active { 
	opacity: 0.5;
}

@font-face {
    font-family: 'theartisan'; 
    src: url('the artisan.otf'); 
}

@font-face {
    font-family: 'Avenir'; 
    src: url('avenir.ttc'); 
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
